.button-all {
  position: absolute;
  margin-left: 1rem;
  top: 1%;
  right: -0%;
  width: 10%;
  height: 5vh;
  background: transparent;
  z-index: 2;
}

.button-all > button {
  width: 70%;
  padding: 0.4rem;
  color: black;
  background: white;
  border-radius: 0.4rem;
  cursor: pointer;
  border: solid 1px red;
}
